* {
  margin: 0;
  padding: 0;
}

html,
body {
  
  font-size: 18px;
  background-color: #f5f6f7;
}


h1 {
  max-width: 840px;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 40px 0;
  text-align: center;
}

h2 {
  max-width: 350px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 5;
  line-height: 1.1;
  margin: 10px 0;
  text-align: justify;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  text-align: center;
  

}

